*.swp*
.DS_Store*
*.aux*
*.log
*.lof*
*.lot*
*.out*
*.gz
*.toc*
*.bbl
*.blg
*~
*.nlo
*make
*.d
*.btmp
*.fls
*.glo
*.idx
*.ist
*.ilg
*.ind
*cookie*
*#*
*.nls
*.nlg
thesis.txt*


# Latex ignores
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Ignore LyX backup and autosave files
# http://www.lyx.org/
*.lyx~
*.lyx#
*.nav
*.snm

